{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming</title>
    <script src="{% static 'js/phaser.min.js' %}"></script>
    <script src="{% static 'js/gaming.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/gaming.css' %}">
    <style>
        body { margin: 0; overflow: hidden; background-color: black; }
        canvas { display: block; }
    </style>
</head>
<body>
</body>
</html>
