{% extends "base.html" %}
{% load static %}

{% url 'explorer:create_directory' current_directory.id as create_directory_url %}
{% url 'explorer:upload_file' current_directory.id as upload_file_url %}
{% url 'explorer:delete_selected' current_directory.id as delete_selected_url %}
{% url 'explorer:rename_item' "__TYPE__" "__ID__" as rename_url_template %}
{% url 'explorer:move_item' "__TYPE__" "__ID__" as move_url_template %}

{% block title %}Explorer - Virtual Office{% endblock %}
{% block content %}
<div id="explorer" class="glassmorphic">
  <!-- En-tête -->
  <div id="explorer-header">
    <div id="drive-selector">
      {% for drive in drives %}
        <a href="{% url 'explorer:explorer_view' drive.drive_type %}" class="drive-link {% if drive.drive_type == drive_type %}active{% endif %}">
          <i class="fa-solid 
            {% if drive.drive_type == 'personal' %}fa-user
            {% elif drive.drive_type == 'common' %}fa-users
            {% elif drive.drive_type == 'admin' %}fa-shield-halved
            {% endif %}"></i>
          {{ drive.name }}
        </a>
      {% endfor %}
    </div>
    <div id="explorer-actions">
      <button id="new-folder-btn" class="action-btn" title="New Folder">
        <i class="fa-solid fa-folder-plus"></i>
      </button>
      <button id="new-file-btn" class="action-btn" title="New File">
        <i class="fa-solid fa-file-upload"></i>
      </button>
      <button id="reload-btn" class="action-btn" title="Reload">
        <i class="fa-solid fa-rotate-right"></i>
      </button>
      <button id="toggle-view" class="action-btn" title="Toggle View">
        {% if view_type == "list" %}
          <i class="fa-solid fa-list"></i>
        {% else %}
          <i class="fa-solid fa-th"></i>
        {% endif %}
      </button>
      <button id="sort-name-btn" class="action-btn" title="Sort by Name">
        <i class="fa-solid fa-sort-alpha-down"></i>
      </button>
      <button id="sort-date-btn" class="action-btn" title="Sort by Date">
        <i class="fa-solid fa-calendar"></i>
      </button>
      <button id="delete-selected-btn" class="action-btn" title="Delete Selected">
        <i class="fa-solid fa-trash"></i> (0)
      </button>
    </div>
  </div>
  <div id="explorer-body">
    <div id="explorer-sidebar">
      <h3>{{ current_directory.drive.name }}</h3>
      {% if current_directory.parent %}
        <a href="{% url 'explorer:explorer_view' current_directory.drive.drive_type current_directory.parent.id %}" class="btn-back">
          <i class="fa-solid fa-arrow-left"></i> Parent
        </a>
      {% endif %}
      <ul>
        {% for sub in subdirectories %}
          <li>
            <a href="{% url 'explorer:explorer_view' current_directory.drive.drive_type sub.id %}">
              <i class="fa-solid fa-folder"></i>
              <span>{{ sub.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="explorer-main" class="{{ view_type }}-view"
         data-create-directory-url="{{ create_directory_url }}"
         data-upload-file-url="{{ upload_file_url }}"
         data-drive-type="{{ drive_type }}"
         data-delete-url="{{ delete_selected_url }}"
         data-rename-url-template="{{ rename_url_template }}"
         data-move-url-template="{{ move_url_template }}">
      <div id="explorer-breadcrumbs">
        <a href="{% url 'explorer:explorer_view' current_directory.drive.drive_type %}" class="breadcrumb-root">
          {{ current_directory.drive.name }}
        </a>
        {% for crumb in current_directory.get_ancestors %}
          <span class="breadcrumb-sep">&gt;</span>
          <a href="{% url 'explorer:explorer_view' current_directory.drive.drive_type crumb.id %}" class="breadcrumb-link">
            {{ crumb.name }}
          </a>
        {% endfor %}
        <span class="breadcrumb-sep">&gt;</span>
        <span class="breadcrumb-current">{{ current_directory.name }}</span>
      </div>
      <div class="explorer-content">
        {% for sub in subdirectories %}
          <div class="explorer-item folder-item" 
               data-id="{{ sub.id }}" 
               data-type="directory"
               data-rename-url="{% url 'explorer:rename_item' 'directory' sub.id %}"
               draggable="true">
            <i class="fa-solid fa-folder explorer-icon"></i>
            <div class="item-title">{{ sub.name }}</div>
          </div>
        {% endfor %}
        {% for file in files %}
          <div class="explorer-item file-item" 
               data-id="{{ file.id }}" 
               data-type="file"
               data-rename-url="{% url 'explorer:rename_item' 'file' file.id %}"
               draggable="true">
            {% if file.extension|lower == ".txt" %}
              <i class="fa-solid fa-file-lines explorer-icon"></i>
            {% elif file.extension|lower == ".pdf" %}
              <i class="fa-solid fa-file-pdf explorer-icon"></i>
            {% elif file.extension|lower in ".jpg .jpeg .png .gif" %}
              <i class="fa-solid fa-file-image explorer-icon"></i>
            {% elif file.extension|lower in ".mp4 .avi .mov" %}
              <i class="fa-solid fa-file-video explorer-icon"></i>
            {% else %}
              <i class="fa-solid fa-file explorer-icon"></i>
            {% endif %}
            <div class="item-title">{{ file.name }}</div>
            <div class="item-meta">{{ file.uploaded_at|date:"d/m/Y H:i" }} ({{ file.extension }})</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/explorer.js' %}"></script>
{% endblock %}
